@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "poppins";
}

body{
    width: 100%;
    color: #4E4E4E;;
    background-color: #B4BDBE;
    overflow-x:hidden;
    position: relative; 
}

.titulo{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}


/* header */

.header{
    background-color:#52C1Cc;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
}

.titulo{
    line-height: 80px;
    font-size: 2rem;
    text-transform:uppercase;
    text-align: center;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.logo__img{
    height: 80px;
    padding: 0 40px;
}

.nav__menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav__menu__item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav__menu__link{
    color:white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav__menu__link:hover{
    background-color: blue;
    transition: 0,5s;
}

/* main */

.contenedor{
    width: 80%;
    margin-top: 60px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grupostexto{
    margin-top: 100px;
    margin-bottom: 75px;
}

.grupostexto p{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


.tabladeposiciones{
    background-image: url("blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;

    margin: 10px;
}

.titulodetabla{
    color: white;
    text-align: center;
    padding: 30px;
}

.lineadetabla{
    border: 1px solid blue;
    margin-top: 30px;
    width: 300px;
    margin: auto;
}

table{
    width: 95%;
    color: white;
    margin: 20px;
    /* padding-bottom: 50px; */
}

table, th, td {
    border-collapse: collapse;
}

.encabezado{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,11,121,0.7707457983193278) 35%, rgba(0,212,255,1) 100%);
}

.bandera{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}


h1{
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-bottom: 0%;
}

p{
    text-align: justify;
}

.nav-toggle{
    color: white;
    background: none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}


/* footer */

.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
}

.div__contact{
    display: flex;
    height: 80px;
    background-color:#52C1Cc;
    align-items: center;
    justify-content:center;
    width: 100%;
}


.div__link{
    padding: 15px;
}

.div__link:hover{
    background-color: blue;
    transition: 0,5s;
}

.div__icon{
    width: 24px;
    height: 24px;
}

@media (max-width: 768px){
    
    .header{
        height: 60px;
    }

    .logo__img{
        height: 60px;
        padding: 0 20px;
    }

    .nav__menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: grey;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding:20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left:100%;
        transition:left 0.5s;
    }

    .nav__menu__item{
        line-height: 70px;
        text-transform: uppercase;
    }

    .nav__menu__link:hover{
        background:none;
        color: #52C1Cc;

    }

    .nav-toggle{
        display: block;
    }

    .nav__menu_visible{
        left:0;
    }

    .bandera{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .footer{
        height:60px;
    }

}