*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(qatar.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

form{
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
}

textarea{
    min-height: 100px;
    max-height: 250px;
    max-width: 100%;

}

#boton{
    background: grey;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width: 412px){

    form{
        width: 100%;
    }
}
